.panel {
    animation: 10s ease-in all;
    margin: 1rem;
    overflow: hidden;
    max-width: 330px;
    height: 520px;
    border-radius: 1.5rem;
    background-color: #151515;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.panel:hover {
    
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    /* padding-bottom: ;/ */
}

.image {
    height: 330px;
    /* width: 330px; */
    overflow: hidden;
    border-bottom: 3px solid var(--text-dark);
}
.actualImage{
    width: 100%;
}

.content {
    margin: 0 auto;
    width: 95%;
    color: white;;
}

.content > h2 , .content > h5 {

    margin: 10px 0 6px 0;
    padding:0;
}
.content > h5 {
    font-weight: 500;
}

.tagsParrent {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 0.8rem;
    height: fit-content;
    align-items:center;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* height: fit-content; */
}

.content > div > .tags {
    border: 2px solid white;
    border-radius: 1rem;
    font-size: 0.6rem;
    margin: 5px 2px!important;
    /* margin: 12px 0 12px 5px !important; */
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0.3rem;
}
